{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
<div class="az-clinical-subjest-email">
<div class="az-clinical-subjest-body">
<p>Subjest：<span>免費申請加入「康心摯友」計劃</span></p>
<div><span>To:</span><input class="az-clinical-inputemil" type="seart"  placeholder="email@example.com" /></div>
{# <div><span>Format:</span><input class="az-clinical-inputsummary" type="seart"  placeholder="Summary" /></div>#}
  <div class="az-clinical-ckb-box">
    <div class="az-clinical-inline-box">
      <input class="az-clinical-ckb" type="checkbox" /><span>I'm not a robot</span>
    </div>
  </div>
<div class="az-clinical-subjest_btn">
<button type="button" class="az-clinical-subjest_btnemail">Send Email</button>
<button type="button" class="az-clinical-subjest_btncancel">Cancel</button>
</div>
</div>
<div class="az-clinical_transbkg"></div>
</div>
{%
  set classes = [
  'row',
  'paragraph',
  'col-lg-2',
  'col-md-4',
  'az-clinical-right-kv',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{#            {{ dd(content["field_area"][0]["#context"]["value"]) }}#}
{% block paragraph %}
  {#  <div class="az-medicine-shop-header">#}
  {#    <div class="az-medicinie-left">藥房銷售點</div>#}
  {#    <div class="az-medicinie-right">#}
  {#      <select>#}
  {#        #}{#            <option value="{{ content['field_area']}}">{{ content['field_area']}}</option>#}
  {#      </select>#}
  {#    </div>#}
  {#  </div>#}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
{#      <div class="az-off-pp-params">{{ content['field_shopname']}}</div><div class="az-off-pp-params">{{ content['field_shop_detail']}}</div><div class="az-off-pp-params">#}
{#      {{ content['field_phone']}}</div><div class="az-off-pp-area">{{ content['field_area']}}</div>#}
      <div class="az-clinical-right-box ">
        <div>{{ content["field_az_clinical_page_image"] }}</div>
        <div class="az-clinical-rbx_logo"> {{ content['field_field_az_clinical_param_lo'] }}</div>
        <div class="az-clinical-rbx_title">{{ content["field_az_clinical_title"] }}</div>
        <div class="az-clinical-rbx_desc">{{ content["field_az_clinical_short_desc"] }}</div>
        <div class="az-clinical-rbx__boom"><label>Area:</label> {{ content["field_az_area"] }}</div>
        <div class="az-clinical-rbx__boom"><label>Sex:</label> {{ content["field_az_se"] }}</div>
        <div class="az-clinical-rbx__boom"><label>Status:</label> {{ content["field_az_status"] }}</div>
        <div class="az-clinical-rbx__boom"><label>Location:</label> {{ content["field_az_location"] }}</div>
        <div class="az-clinical-rbx__boom"><label>Trial Name:</label> {{ content["field_az_trial_name"] }}</div>
        <div class="az-clinical-rbx__boom"><label>Conditions:</label> {{ content["field_az_conditions_term"] }}</div>
        <div class="az-clinical-rbx__boom"><label>Phase:</label> {{ content["field_az_phase"] }}</div>
        <div class="az-clinical-rbx__boom"><label>Age:</label> {{ content["field_az_clinical_age"] }}</div>
        <div class="az-clinical-rbx__boom"><label>Body:</label> {{ content["field_az_body"] }}</div>

        <div class="az-clinical-bottom-box">
            <span>Trial company logo</span>
            <div>
              <button class="az-clinical-bbx-email">Email</button>
              <button>Print</button>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="shares col-sm-6 col-xs-6">{{ drupal_block('addtoany_block')  }}</div>
        {#        <div class="col-sm-6 col-xs-6 az-bottom-link-author">By <span class="author-name">{{ author_name }}</span></div>#}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
